<div class="grid-x grid-padding-x">
<div class="columns medium-6 cell">
  <div class="">
    <h1 class="subheader">Open Ticket System</h1>
  </div>
  <form class="" #form="ngForm" (ngSubmit)="login()" novalidate>
    <div class="" role="alert" *ngIf="message">
      <strong>Invalid email or password</strong>
    </div>
    <div class="">
      <div [ngClass]="getFormGroupClass(email.invalid,email.dirty)">
        <label for="inputEmail" class="">Email</label>
        <div class="">
          <input type="email"
                 [(ngModel)]="user.email"
                 name="email"
                 class=""
                 id="inputEmail"
                 #email="ngModel"
                 placeholder="Email"
                 email>
          <span class="" *ngIf="email.invalid  && email.dirty">Email is invalid </span>
        </div>
      </div>
      <div [ngClass]="getFormGroupClass(password.invalid,password.dirty)">
        <label for="inputPassword" class="">Password</label>
        <div class="col-sm-10">
          <input type="password"
                 [(ngModel)]="user.password"
                 name="password"
                 class=""
                 id="inputPassword"
                 placeholder="Password"
                 #password="ngModel"
                 required>
          <span class="" *ngIf="password.invalid && password.dirty">Password is required</span>
        </div>
      </div>
    </div>
    <div class="">
      <button type="submit" (click)="cancelLogin()" class="button expanded">Cancel</button>
      <button type="submit" [disabled]="!form.valid" class="button expanded">Login</button>
    </div>
  </form>
</div>
  <div class="columns medium-6 cell">
    <div class="" style="margin-top: 104px">
    </div>
    <div class="callout large">
      <h5>This is ticket system</h5>
      <p>The open ticket system provides organized and management tools for support staff.</p>
      You can implement styles based on <a href="https://foundation.zurb.com/">foundation.zurb.com</a>
      or <a href="https://getbootstrap.com/">getbootstrap.com</a>.
    </div>

  </div>
</div>
